@use "../../assets/styles/config" as *;

.experience-card {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 40px;

  padding: 30px 0;

  border-bottom: 1px solid $border-color;

  &__date {
    display: flex;
    flex-direction: column;
    gap: 4px;

    color: $muted-color;
    font-size: 0.9rem;
  }

  &__company {
    margin: 0 0 6px;

    color: $primary-color;
    font-weight: 600;
  }

  &__role {
    margin: 0 0 6px;

    color: $text-color;
    font-size: 1.3rem;
  }

  &__location {
    margin: 0 0 18px;

    color: $muted-color;
    font-size: 0.9rem;
  }

  &__description {
    max-width: 750px;
    margin: 0 0 20px;

    color: $muted-color;
    line-height: 1.7;
  }

  &__technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin: 0;
    padding: 0;

    list-style: none;

    li {
      padding: 6px 10px;

      border-radius: 5px;

      background-color: #f1f5f9;

      color: $text-color;
      font-size: 0.8rem;
    }
  }
}
